@font-face {
  font-family: "Pacifico";
  src: url("../assets/fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF7EF;
  overflow-x: hidden;
}

.headerBar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: calc(5vh + 1.2rem);
  padding: 0.6rem;
  background-color: #3C3835;
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.hidden {
  transform: translateY(-100%);
}

.logoContainer {
  width: auto;
}

#logo {
  width: 100%;
  height: 3vh;
}

.dropdown {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bars {
  font-size: 3vh;
  text-align: center;
  color: #FFF7EF;
}

.menu {
  display: none;
  position: absolute;
  right: 0.55rem;
  padding: 0.8rem 1rem 0.4rem 1rem;
  border-radius: 0.3rem;
  background-color: #534F4C;
  box-shadow: 4px 3px 5px hsla(0, 0%, 0%, 0.8);
}

.menu.show {
  display: block;
}

a {
  width: 5rem;
  text-decoration: none;
  font-family: "Poppins-Regular";
  font-weight: 300;
  font-size: 20px;
  color: #FFF7EF;
}

.imageText {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.imageText img {
  height: 4vh;
}

.dropdownMenu {
  display: inline-block;
}

.postScrollArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.postBlock {
  width: 60vw;
  height: 85vh;
  margin: 2rem 0 1rem 0;
  border-radius: 0.5rem;
  background-color: #3C3835;
}

.userInfo {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 1rem;
}

.profilePic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #FFF7EF;
}

.usernameTime {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
}

.username {
  font-family: "Poppins-Regular";
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #FFF7EF;
  margin: 0;
}

.timePosted {
  font-family: "Poppins-Regular";
  font-size: 12px;
  font-weight: 100;
  text-align: start;
  color: #FFF7EF;
  margin: 0;
}

.post {
  width: 100%;
  height: 60vh;
  background-color: #E49F43;
}

.postInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}

.likeComment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.like {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #FFF7EF;
}

.comment {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #FFF7EF;
}

.postCaption {
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  color: #FFF7EF;
}

.addPost {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.addPost button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #534F4C;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.addPost button:hover {
  background: #3C3835;
}

.postPopup {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
}
.postPopup .popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 30vw;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #3C3835;
  text-align: center;
}
.postPopup .popup-content .popupHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.postPopup .popup-content .popupText {
  margin: 0.5rem 0 0.5rem 0;
  font-family: "Poppins-Regular";
  font-size: 24px;
  text-align: start;
  color: #FFF7EF;
}
.postPopup .popup-content .close {
  padding: 0.4rem 0.85rem;
  background-color: #534F4C;
  border-radius: 50%;
  font-family: "Poppins-Regular";
  font-size: 16px;
  text-align: start;
  color: #FFF7EF;
  cursor: pointer;
}
.postPopup .popup-content #postForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.postPopup .popup-content .postFromGroup1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
.postPopup .popup-content textarea {
  all: unset;
  background-color: #534F4C;
  font-family: "Poppins-Regular";
  text-align: start;
  color: #FFF7EF;
  width: 100%;
  height: 7vh;
  margin: 0;
  padding: 0.5rem;
  resize: none;
  white-space: normal;
}
.postPopup .popup-content .postFromGroup2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.postPopup .popup-content input[type=file] {
  all: unset;
  width: 100%;
  font-family: "Poppins-Regular";
  color: #FFF7EF;
}
.postPopup .popup-content button {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 0.3rem;
  background: #E49F43;
  font-family: "Poppins-Regular";
  font-size: 16px;
  color: #FFF7EF;
  cursor: pointer;
}
.postPopup .popup-content button:hover {
  background: #835A37;
}

/*# sourceMappingURL=home.css.map */
